<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-dark bg-gradient fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">TechFood</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--ABA PARA LEVAR PARA LANCHES-->
            <li class="nav-item dropdown" style="list-style-type: none">

              <a style="margin-right: 10px" class="nav-link dropdown-toggle text-white" href="#" id="navbarLanches" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                Lanches
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/cadastrarLanche.html">Cadastrar Lanches</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/consultarLanche.html">Consultar Lanches</a></li>
                  <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/atualizarLanche.html">Atualizar Lanches</a></li>
                  <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/excluirLanche.html">Excluir Lanches</a></li>
              </ul>
            </li>

              <!-- DROPDOWN PARA ABAS DE FUNCIONÁRIOS -->
            <li class="nav-item dropdown " style="list-style-type: none">
              <a class="nav-link dropdown-toggle text-white"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Funcionários
              </a>

                <!-- OPÇÕES PARA FUNCIONÁRIOS -->
              <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item " href="/cadastrarFunc.html">Cadastrar Funcionários</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/consultarFunc.html">Consultar Funcionários</a></li>
                  <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/atualizarFunc.html">Atualizar Funcionários</a></li>
                  <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" href="/excluirFunc.html">Excluir Funcionários</a></li>

              </ul>
            </li>
        </div>
      </div>
    </nav>
        <br>
</body>
</html>